<div *ngIf="contratos.length === 0">No contracts available</div>
<ul *ngIf="contratos.length > 0">
  <li *ngFor="let contrato of contratos">
    <strong>{{ contrato.nombreCliente }}</strong>
    <p>Fecha de inicio: {{ contrato.fechaInicio | date: 'shortDate' }}</p>
    <p>Fecha final: {{ contrato.fechaFinal | date: 'shortDate' }}</p>
    <p>Placa: {{ contrato.placa }}</p>
    
    <!-- Botón de borrar, pasando el id del contrato -->
    <button class="delete" (click)="borrarContrato(contrato.id)">Borrar</button>
  </li>
</ul>
