<form [formGroup]="userForm" (ngSubmit)="actualizar()">
  <div>
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" type="text">
  </div>

  <div>
    <label for="apellido">Apellido:</label>
    <input id="apellido" formControlName="apellido" type="text">
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" readonly>
  </div>

  <div>
    <label for="telefono">Telefono:</label>
    <input id="telefono" formControlName="telefono" type="text">
  </div>

  <div>
    <label for="cedula">Cedula:</label>
    <input id="cedula" formControlName="cedula" type="text" restricted="true" readonly>
  </div>

  <div>
    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
    <input id="fecha_nacimiento" formControlName="fechaNacimiento" type="date" readonly>

  </div>

  <div>
    <label for="role">Role:</label>
    <select id="role" formControlName="role" style="pointer-events: none; background-color: #e9ecef">
      <option value="admin">Admin</option>
      <option value="user">User</option>
    </select>
  </div>

  <button type="submit">Actualizar</button>
</form>
