<div class="form-container">
  <h2>Agregar Contrato</h2>
  <form (ngSubmit)="addContrato()">
    <div class="form-group">
      <label for="cliente_id">Cliente:</label>
      <select id="cliente_id" [(ngModel)]="newContrato.clienteId" name="cliente_id" required>
        <option *ngFor="let persona of usuario" [value]="persona.id + '|' + persona.nombre">
          {{ persona.nombre }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="espacio_id">Espacio ID:</label>
      <select id="espacio_id" [(ngModel)]="newContrato.espacio" name="espacio_id" required>
        <option *ngFor="let num of espaciosArray" [value]="num">Espacio {{ num }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="placa">Placa:</label>
      <input type="text" id="placa" [(ngModel)]="newContrato.placa" name="placa" required>
    </div>

    <div class="form-group">
      <label for="fecha_inicio">Fecha Inicio:</label>
      <input type="date" id="fecha_inicio" [(ngModel)]="newContrato.fechaInicio" name="fecha_inicio" required>
    </div>

    <div class="form-group">
      <label for="fecha_final">Fecha Final:</label>
      <input type="date" id="fecha_final" [(ngModel)]="newContrato.fechaFinal" name="fecha_final" required>
    </div>

    <div class="form-group">
      <label for="total">Total:</label>
      <input type="text" id="total" [(ngModel)]="newContrato.total" name="total" required readonly>
    </div>

    <div class="form-group">
      <button type="submit" class="btn-submit">Agregar Contrato</button>
    </div>
  </form>

  <h2>Lista de Contratos</h2>
  <ul class="contract-list">
    <li *ngFor="let contrato of contratos">
      <strong>{{ contrato.clienteId }}</strong> - {{ contrato.placa }} 
      <span class="date-range">({{ contrato.fechaInicio }} - {{ contrato.fechaFinal }})</span>
    </li>
  </ul>
</div>
